<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <mat-dialog-content fxLayout="column" class="sales-dialog">
    <h6 class="unsaved-changes" *ngIf="formGroup.dirty">*You have unsaved changes</h6>
    <mat-form-field>
      <mat-select formControlName="type" placeholder="Type">
        <mat-option value="local">Local</mat-option>
        <mat-option value="shared">Shared</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Membership Group Name">
    </mat-form-field>
    <ng-container formArrayName="memberships">
      <div class="sales-grid">
        <div class="sales-grid-header">Name</div>
        <div class="sales-grid-header">Is Shared ?</div>
        <div class="sales-grid-header">Size</div>
        <div class="sales-grid-header">Expiration</div>
        <div class="sales-grid-header"></div>
        <div class="sales-grid-header"></div>
        <ng-container *ngFor="let _ of membershipsArray.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="sales-grid-body">
              <mat-form-field class="package-variation-name">
                <input formControlName="name" matInput/>
              </mat-form-field>
            </div>
            <div class="sales-grid-body is-shared">
              <mat-checkbox formControlName="isShared"></mat-checkbox>
            </div>
            <div class="sales-grid-body">
              <mat-form-field [style.visibility]="!membershipsArray.controls[i].value.isShared? 'hidden':'visible'"
                              class="number-of-participants">
                <input min="1" type="number" formControlName="numberOfParticipants" matInput/>
              </mat-form-field>

            </div>
            <div class="sales-grid-body">
              <mat-form-field class="expiration-type">
                <mat-select formControlName="expirationType">
                  <mat-option value="day">Day</mat-option>
                  <mat-option value="month">Month</mat-option>
                  <mat-option value="year">Year</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="sales-grid-body">
              <mat-form-field class="expiration-length">
                <input min="1" formControlName="expirationLength" type="number" matInput>
              </mat-form-field>
            </div>
            <div (click)="showDeletePrompt(i, membershipsArray.controls[i].value)" class="sales-grid-body remove">
              <mat-icon>delete</mat-icon>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close mat-button>Close</button>
    <button type="submit" [disabled]="formGroup.invalid" mat-raised-button color="primary">Save</button>
    <button type="button" (click)="addMembership()" mat-raised-button>Add Membership</button>
  </mat-dialog-actions>
</form>
