<mat-form-field>
  <mat-label [style.color]="labelColor" class="find-member-label">{{placeholder}}</mat-label>
  <input [formControl]="searchFormControl" #searchField id="members-autocomplete" type="text" matInput [matAutocomplete]="auto">
  <mat-autocomplete (optionSelected)="memberSelect($event)" [displayWith]="displayFn" #auto="matAutocomplete">
    <ng-container *ngIf="members$ | async as members">
      <mat-option  (click)="openUserRegistrationForm()" *ngIf="members.length == 0">
        <div class="member-auto-complete-item">
          <div class="register-new-person-icon">Register new member</div>
        </div>
      </mat-option>
    </ng-container>
    <mat-option *ngFor="let member of members$ | async" [value]="member">
      <div class="member-auto-complete-item">{{member.firstName + " " + member.lastName}}</div>
      <div class="member-auto-complete-item phone-number">{{'mob: ' + member.phoneNumber}}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
