.to-time-select {
  margin-left: 10px;
}

.schedule-row {
  margin-top: 10px;
}

.schedule-until-datepicker .mat-form-field-appearance-fill {
  background: #FFF;
}

.day {
  cursor: pointer;
  padding: 3px;

  &.selected-day {
    border: 1px solid rgba(0, 117, 169, 0.8);
  }
}
