.mat-mdc-tab-link{
  &.active {
    background-color: rgb(0, 117, 169);
  }
}

.stock-detail {
  font-style:italic;
}

.product-auto-complete-item {
  line-height: 15px;
}

.product-name {
  font-weight: bold;
}

mat-form-field {
  width: 100%;
}

.product-properties {
  font-style: italic;
  font-size: small;
  height: 15px;
  line-height: 1;
}


