.members-component {
  position: relative;
  /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
  mat-paginator {
    background: transparent;
  }

  table {
    width: 100%;
    background: transparent;

    tr.mat-mdc-header-row:hover {
      background-color: transparent;
    }

    tr:not(.no-data,.mat-mdc-header-row):hover {
      background-color: rgba(0, 117, 169, 0.6);
      cursor: pointer;

      .mat-mdc-cell {
        color: #FFF;
      }

      .edit-cell, .delete-cell {

        mat-icon {
          visibility: visible;
        }
      }
    }

    .mat-column-phoneNumber {
      width: 100px;
    }

    .mat-column-email {
      width: 250px;
      max-width: 250px;
    }

    .mat-column-avatar {
      max-width: 80px;
      width: 80px;
      mat-form-field {
        max-width: 60px;
      }
      .account-type-selection {
        max-width: 60px;
      }
    }



    .avatar {
      object-fit: cover;
    }

    .edit-cell, .delete-cell {
      width: 70px;

      mat-icon {
        visibility: hidden;
      }
    }


  }

  .add-person-container {
    bottom: 20px;
    width: 100%;
  }

  #report-button {
    margin-right: 20px;
  }
}
