<div *ngIf="activeMembership.membership" fxFill fxLayout="column" fxLayoutAlign="start">
  <div>
    <div class="membership-name">{{activeMembership.membership?.name}}</div>
    <div class="row">
      <span class="label">Active Date:</span>
      <span class="value">{{activeMembership.startDate | date}}
        - {{activeMembership.membership | membershipExpiration: activeMembership.startDate }}
    </span></div>
    <div class="membership-actions" fxLayout="row">
      <div fxLayoutAlign="start center">
        <button mat-icon-button>
          <mat-icon class="freeze-icon"
                    *ngIf="!activeMembership.isExpired || activeMembership.isExpired && activeMembership.isFreezed"
                    (click)="freezePurchase(activeMembership)">ac_unit
          </mat-icon>
        </button>
      </div>
      <div fxLayoutAlign="start center">
        <button mat-icon-button>
          <mat-icon svgIcon="sharePeople" *ngIf="activeMembership.membership.isShared"
                    (click)="sharePurchase(activeMembership)">
          </mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="activeMembership.membership.isShared && activeMembership.members.length > 1" class="row">
      <div class="shared-title">Shared With:</div>
      <ng-container *ngFor="let sharedMember of activeMembership.members">
        <div (click)="openMemberPage(sharedMember)" fxLayoutAlign="start center" *ngIf="sharedMember.id != member.id"
             class="shared-member">
          <img class="shared-member-avatar" #avatarImg (error)="avatarImg.src='/assets/member-not-found.png'"
               alt="shared-member" [src]="sharedMember.photoLink | localImageLink" width="40" height="70"/>
          <div>{{sharedMember.firstName + " " + sharedMember.lastName}}</div>
        </div>
      </ng-container>
    </div>


  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <div>Membership Price with VAT: {{activeMembership.price|totalPrice:1:activeMembership.discount:taxes | currency:'AED'}}</div>
    <div><b>Payments:</b></div>
    <table>
      <thead>
      <tr>
        <th class="payment-th">Date</th>
        <th class="payment-th">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let payment of payments$ | async">
        <td class="payment-cell">{{payment.date | date:'short'}}</td>
        <td class="payment-cell">{{payment.amount | currency: 'AED'}}</td>
      </tr>
      <ng-container *ngIf="!activeMembership.isFullyPaid">
        <ng-container *ngIf="payments$ | async as payments">
        <mat-divider></mat-divider>
          <div class="payments-left"><b>{{activeMembership | paymentsLeft:payments }}</b> left to pay</div>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
    <mat-error></mat-error>

    <mat-divider></mat-divider>
    <div  *ngIf="!activeMembership.isFullyPaid" (click)="openFinalizationPaymentDialog()" class="default-link">Finish Payment</div>
  </div>


</div>
