<div fxLayout="column" fxFill class="purchase-history-container">
  <div fxLayout="column" class="member-purchases">
    <h2 fxLayoutAlign="start center" class="h2 primal-title">Purchase History
    </h2>
    <div fxLayout="row" class="purchase-column-header">
      <div class="purchase-column column-header column-name">Item name</div>
      <div class="purchase-column column-header column-sale-date">Sale Date</div>
      <div class="purchase-column column-header column-start-date">Start Date</div>
      <div class="purchase-column column-header column-expiry-date">Expiry Date</div>
      <div class="purchase-column column-header column-price">Price</div>
      <div class="purchase-column column-header column-share"></div>
      <div class="purchase-column column-header column-note"></div>
      <div class="purchase-column column-header column-freeze"></div>
    </div>
    <div class="purchase-row"
         [ngClass]="{'freezed': purchase.isFreezed, 'expired': purchase.isExpired, 'nearly-expiration': purchase.isNearlyExpire}"
         fxLayout="row" *ngFor="let purchase of purchasesSubj | async">
      <div [matTooltip]="purchase.membership.name + ' is almost expired!'" *ngIf="purchase.isNearlyExpire"
		   class="nearly-expired-exclamation">!
      </div>
      <div fxLayoutAlign="start center" class="purchase-column column-body column-name">{{purchase.membership.name}}</div>
      <div fxLayoutAlign="start center"
           class="purchase-column column-body column-sale-date">{{purchase.saleDate | date}}</div>
      <div fxLayoutAlign="start center"
           class="purchase-column column-body column-start-date">{{purchase.startDate | date}}</div>
      <div fxLayoutAlign="start center"
           class="purchase-column column-body column-expiry-date">{{purchase.membership | membershipExpiration:purchase.startDate}}</div>
      <div fxLayoutAlign="start center"
           class="purchase-column column-body column-price">{{purchase.price | currency: 'AED'}}</div>
      <div fxLayoutAlign="start center" class="purchase-column column-body column-note">
        <mat-icon [matTooltip]="purchase.note">description</mat-icon>
      </div>
      <div fxLayoutAlign="start center" class="purchase-column column-body column-freeze">
        <mat-icon *ngIf="!purchase.isExpired || purchase.isExpired && purchase.isFreezed"
                  (click)="freezePurchase(purchase)">ac_unit
        </mat-icon>
      </div>
      <div fxLayoutAlign="start center" class="purchase-column column-body column-share">
        <mat-icon svgIcon="sharePeople" *ngIf="purchase.membership.isShared"
                  (click)="sharePurchase(purchase)">
        </mat-icon>
      </div>
    </div>
  </div>

  <button id="sell-icon" mat-fab color="primary" (click)="addNewPurchase()">
    <mat-icon>attach_money</mat-icon>
  </button>
</div>
