<mat-form-field>
  <mat-label [style.color]="labelColor" class="find-member-label">{{placeholder}}</mat-label>
  <input [formControl]="searchFormControl" #searchField id="members-autocomplete" type="text" matInput [matAutocomplete]="auto">
  <mat-autocomplete (optionSelected)="productSelect($event)" [displayWith]="displayFn" #auto="matAutocomplete">
<!--    <mat-op   tion (click)="openUserRegistrationForm()" *ngIf="showNewMemberOption && searchField.value.length!=0">-->
<!--      <div class="member-auto-complete-item">-->
<!--        <div class="register-new-person-icon">Register new member</div>-->
<!--      </div>-->
<!--    </mat-option>-->
    <mat-option *ngFor="let product of products$ | async" [value]="product">
      <div class="member-auto-complete-item">{{product.name}}</div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
