<div class="suppliers-list-container" fxLayout="column" fxLayoutAlign="space-between">
  <h3>Suppliers</h3>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier list</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td class="edit-cell" mat-cell *matCellDef="let row">
        <mat-icon (click)="openCrudDialog(row)">edit</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="delete-cell" mat-cell *matCellDef="let row">
        <mat-icon (click)="openDeletePromptDialog(row)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No suppliers created yet</td>
    </tr>
  </table>
  <div fxLayoutAlign="space-between center">
    <mat-paginator (page)="onChangePage($event)" [hidePageSize]="true" [pageSizeOptions]="[limit]" showFirstLastButtons></mat-paginator>
    <button (click)="openCrudDialog()" class="add-button" mat-mini-fab>
      <mat-icon>add
      </mat-icon>
    </button>
  </div>
</div>

