
  .align-right {
    text-align: right;
  }


  .next-button {
    margin-top: 10px;
  }


  .form-label {
    width: 200px;
    text-align: right;
  }

  .total {
    border-top: 1px solid #000;
    padding-top: 5px;
  }
  .form-row.color-green {
      color: #63A008FF;
    .form-label {
      color: #63A008FF;
    }
  }

  .bold {
    font-weight: bold;
  }


  .color-red {
    color: #ff0000;
  }
