@import "src/app/shared/crud-table/crud-table.component";


.edit-subcategory {
  color: #929292;
  &:hover {
    color: #696969;

  }
}

.categories-settings-container {
  table {
    background-color: transparent;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
  mat-paginator {
    background-color: transparent;
  }
}
