<div mat-dialog-title>Product {{product.name}}</div>
<div mat-dialog-content>
  <div fxLayout="row">
    <div class="column-1">
      <div *ngFor="let image of product.images">
        <img class="product-image" width="120" height="150"
             [src]="image | localImageLink">
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between" class="column-2">
      <div>
<!--        <div class="product-info" (click)="showSupplierInfo()">-->
<!--          Supplier: {{product.purchaseVoucher.supplier.name}} </div>-->
<!--        <div class="product-info"> Color: {{product.color}}</div>-->
<!--        <div class="product-info"> Size: {{product.size}}</div>-->
<!--        <div class="product-info"> Quantity: {{product.qty}}</div>-->
<!--        <div class="product-info"> Base Price: {{product.price}}</div>-->
      </div>
      <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </div>
  </div>
</div>
