<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form fxFlex fxLayoutAlign="space-between" [formGroup]="memberForm">
    <div class="member-picture">
      <div [ngClass]="{'drop-area': true, 'highlighted': doBorderHighlight}" (dragover)="highlightBorder($event, true)" (dragenter)="highlightBorder($event, true)"
           (dragleave)="highlightBorder($event, false)" (drop)="handleAvatarDrop($event)" fxLayoutAlign="center center">
        Drop picture here or select
      </div>
      <input type="file" accept="image/*" (change)="handleAvatar($event)">

    </div>
    <div class="member-fields">
      <div>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input type="text" matInput formControlName="firstName">
        </mat-form-field>
        <mat-hint *ngIf="memberForm.errors?.firstName.required">This field is required</mat-hint>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input type="text" matInput formControlName="lastName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input type="text" matInput formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select type="text" formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="primary" [mat-dialog-close]="memberForm.value">Create</button>
</mat-dialog-actions>
