<div class="member-sale-dialog-header" mat-dialog-title>
  Selected Member: {{member.firstName}}
</div>
<div class="member-sale-dialog-purchase-type-select">
  <mat-form-field>
  <mat-select placeholder="Select purchase type" #selection>
    <mat-option value="service">Membership</mat-option>
    <mat-option value="product">Product</mat-option>
  </mat-select>
</mat-form-field>
</div>
<service-purchase-form (servicePurchase)="addSale($event, 'service')" [predefinedMember]="member" *ngIf="selection.value=='service'"></service-purchase-form>
<stock-purchase-form [member]="member" (stockPurchase)="addSale($event, 'stock')"  *ngIf="selection.value=='product'"></stock-purchase-form>
