@import "../../../shared/crud-table/crud-table.component";


.membership-settings-container {
  table {
    background: transparent;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
  mat-paginator {
    background: transparent;
  }
}

.filter-membership-selection {
  margin-left: 10px;
}

.membership-type {
  width: 80px;
}

.membership-group-name-column {
  width: 120px;
}
