.stock-crud-dialog {
  padding-bottom:20px;
  .stock-form {
    display: grid;
    grid-gap: 30px;
  }

  .stock-property-name {
    width: 100px;
    max-width: 100px;
    margin-right: 20px;

    mat-form-field {
      width: 100px;
    }
  }

  .property-value {
    padding-right: 20px;
    mat-form-field {
      width: 100%;
    }
  }

  .remove-button {
    cursor: pointer;
  }
}



.product-file-target {
  display: none;
}

.preview-container {
  margin-top: 15px;
}


.image-small-preview {
  object-fit: scale-down;
  margin-right: 10px;
}

.product-image-preview-container {
  margin-top: 15px;
  overflow-y: auto;
}


