@import "../../shared/crud-table/crud-table.component";
@import "../../../colors";

#sell-icon {
  margin-right: 10px;
}

tr.mat-row:hover {
    background-color: $primaryColor1;
  .stock-amount-input &:focus-visible {
      border: 1px solid $primaryColor1;
      outline-color: $primaryColor1;
  }
}

.add-store-plus {
  font-size: 13px;
  margin-top: 10px;
  margin-left: -4px;
  height: 13px;
  width: 12px;
}

.add-to-store {
  margin-right:10px;
}

.stock-amount-input{
  border: none;
  width: 40px;
  outline: none;
  text-align: right;
  background-color: transparent;
  &:focus-visible {
    border: none;
    outline: none;
  }
  &.invalid {
    border: 1px solid #ff0000;
    &:focus-visible {
      outline-color: red;
    }
  }
}
