<div *ngIf="form" fxLayout="column" fxFlex fxLayoutAlign="start"
     class="main-wrapper member-profile-container">
  <h1>Profile of {{form.value.firstName + " " + form.value.lastName}}</h1>

  <form [formGroup]="form" fxLayout="row" class="member">
    <div class="member-photo">
      <img height="250" [src]="loadedMember.photoLink"/>
    </div>
    <div class="member-info-right-part">
      <div fxLayout="row" class="member-info">
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="First name" matInput formControlName="firstName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Last name" matInput formControlName="lastName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Email" matInput formControlName="email"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Phone number" formControlName="phoneNumber"/>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Referal type" formControlName="referalType"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
            <textarea matInput placeholder="Notes" formControlName="notes" matInput>
            </textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">

          <div class="member-info-row">
            <family-members (afterFamilyMemberRemove)="removeFamilyMember($event)"
                            (afterFamilyMemberSelected)="addMemberToFamily($event)"
                            [members]="loadedMember.family"></family-members>
          </div>
        </div>

      </div>
    </div>
    <div fxLayoutAlign="start end" *ngIf="form.touched">
      <button (click)="updateMember()" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>

  </form>
  <div fxLayoutAlign="start">
    <div fxLayout="column" class="member-purchases">
      <h2 fxLayoutAlign="start center" class="h2 primal-title">Purchase History
      </h2>
      <div fxLayout="row" class="purchase-column-header">
        <div class="purchase-column column-header column-name">Item name</div>
        <div class="purchase-column column-header column-sale-date">Sale Date</div>
        <div class="purchase-column column-header column-start-date">Start Date</div>
        <div class="purchase-column column-header column-expiry-date">Expiry Date</div>
        <div class="purchase-column column-header column-price">Price</div>
        <div class="purchase-column column-header column-note"></div>
        <div class="purchase-column column-header column-freeze"></div>
      </div>
      <div class="purchase-row" [ngClass]="{'freezed': isFreezed(purchase)}" fxLayout="row" *ngFor="let purchase of purchasesSubj | async">
        <div fxLayoutAlign="start center" class="purchase-column column-body column-name">{{purchase.item.name}}</div>
        <div fxLayoutAlign="start center" class="purchase-column column-body column-sale-date">{{purchase.saleDate | date}}</div>
        <div fxLayoutAlign="start center" class="purchase-column column-body column-start-date">{{purchase.startDate | date}}</div>
        <div fxLayoutAlign="start center" class="purchase-column column-body column-expiry-date">{{purchase.item | membershipExpiration:purchase.saleDate}}</div>
        <div fxLayoutAlign="start center" class="purchase-column column-body column-price">{{purchase.price | currency: 'AED'}}</div>
        <div fxLayoutAlign="start center" class="purchase-column column-body column-note"><mat-icon [matTooltip]="purchase.note">note_alt</mat-icon></div>
        <div fxLayoutAlign="start center" class="purchase-column column-body column-freeze"><mat-icon (click)="freezePurchase(purchase)">ac_unit</mat-icon></div>
    </div>
  </div>
  <button id="sell-icon" mat-fab color="primary" (click)="addNewPurchase()">
    <mat-icon>attach_money</mat-icon>
  </button>
</div>
