<div *ngIf="form" fxLayout="column" fxFlex fxLayoutAlign="start"
     class="main-wrapper member-profile-container">
  <h1>Profile of {{form.value.firstName + " " + form.value.lastName}}</h1>

  <form [formGroup]="form" fxLayout="row" class="member">
    <div class="member-photo">
      <img height="250" [src]="loadedMember.photoLink"/>
    </div>
    <div class="member-info-right-part">
      <div fxLayout="row" class="member-info">
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="First name" matInput formControlName="firstName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Last name" matInput formControlName="lastName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Email" matInput formControlName="email"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Phone number" formControlName="phoneNumber"/>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Referal type" formControlName="referalType"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
            <textarea matInput placeholder="Notes" formControlName="notes" matInput>
            </textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">

          <div class="member-info-row">
            <family-members (afterFamilyMemberRemove)="removeFamilyMember($event)"
                            (afterFamilyMemberSelected)="addMemberToFamily($event)"
                            [members]="loadedMember.family"></family-members>
          </div>
        </div>

      </div>
    </div>
    <div fxLayoutAlign="start end" *ngIf="form.touched">
      <button (click)="updateMember()" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>

  </form>
  <div fxLayoutAlign="start">
  <app-purchase-history [memberId]="loadedMember.id"></app-purchase-history>
</div>
