<form [formGroup]="formGroup" (ngSubmit)="save()">
  <div class="categories-crud">
    <div mat-dialog-title>{{formGroup.value.id == 0 ? 'New ' : 'Edit '}} {{formGroup.value.name}}</div>
    <div fxLayout="column" mat-dialog-content>
      <mat-form-field fxFlex="100" class="categories-name">
        <input formControlName="name" placeholder="Name" matInput/>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subcategories</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td class="edit-cell" mat-cell *matCellDef="let row">
            <mat-icon (click)="editSubcategory(row)">edit</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td class="delete-cell" mat-cell *matCellDef="let row">
            <mat-icon (click)="removeSubcategory(row)">delete</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </div>
    <div mat-dialog-actions>
      <button [disabled]="formGroup.invalid" mat-raised-button color="primary" type="submit">Save</button>
      <button [disabled]="formGroup.invalid" mat-raised-button color="primary" type="button" (click)="addSubcategory()">
        Add subcategory
      </button>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>
</form>
