.settings-page-wrapper {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0px;
  width: 100%;

  class-settings {
    padding-right: 100px;
  }

  payment-methods-settings {
    padding-left: 100px;
  }

  sales-settings {
    margin-top: 30px;
    padding-right: 100px;
  }

  user-settings {
    padding-left: 100px;
  }
}
