<div fxLayoutAlign="space-between">
  <div fxFlex="60" class="schedule-list">
    <ng-container *ngIf="schedules$ | async as schedules">
      <div *ngFor="let scheduleWeekDay of scheduleWeekDays"
           [ngClass]="{'daily-schedule':true}">
        <div fxLayoutAlign="start center" class="day-of-week">
          <div class="day" fxLayoutAlign="center center">{{scheduleWeekDay.label}}</div>

          <div
            [ngClass]="{'highlighted-day': scheduleWeekDay.date.getDate() == today.getDate() && scheduleWeekDay.date.getFullYear() == today.getFullYear() && scheduleWeekDay.date.getMonth() == today.getMonth(), 'schedule-date': true}">{{scheduleWeekDay.date | date}}</div>
        </div>
        <div class="class-schedules">
          <ng-container
            *ngFor="let daySchedule of schedules">
            <div
              *ngIf="daySchedule.day == scheduleWeekDay.day && scheduleWeekDay.date.getTime() >= daySchedule.scheduleFrom && scheduleWeekDay.date.getTime() <= daySchedule.scheduleUntil "
              class="schedule-row" fxLayout="row" fxLayoutAlign="start">
              <div (click)="signIn(daySchedule, scheduleWeekDay)" fxLayoutAlign="center center" fxLayout="row" class="schedule-time">
                <div class="schedule-start">
                  {{daySchedule.timeStart | date: 'HH:mm': '+0000' }}
                </div>
                <span class="schedule-dash">&mdash;</span>
                <div class="schedule-end">
                  {{daySchedule.timeEnd | date: 'HH:mm':'+0000' }}
                </div>
              </div>
              <div (click)="signIn(daySchedule, scheduleWeekDay )" fxLayoutAlign="center center" class="class-sign">
                <span class="signed-user">{{daySchedule.signedMembers$ | signedMembersSize:scheduleWeekDay }} of {{daySchedule.capacity}}</span>
              </div>
              <div (click)="signIn(daySchedule, scheduleWeekDay)" fxLayoutAlign="center center" class="class-name">
                {{daySchedule.classId | classNameById}}
              </div>
              <button [ngClass]="'remove-schedule'" mat-icon-button (click)="remove(daySchedule)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div fxFlex="40">
    <div id="schedule-datepicker" fxLayout="column" fxLayoutAlign="space-between">
      <mat-calendar (monthSelected)="filterScheduleDates($event)" [headerComponent]="scheduleCalendarHeader"
                    (selectedChange)="filterScheduleDates($event)"
                    [selected]="scheduleDate"></mat-calendar>
      <div fxLayoutGap="15" fxLayoutAlign="end" id="add-schedule-container">
        <button (click)="attendanceReport()" id="attendance-report-schedule" mat-fab color="primary">
          <mat-icon>article</mat-icon>
        </button>
        <button (click)="addSchedule()" id="add-schedule" mat-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
