.edit-cell, .delete-cell {
  width: 30px;
  cursor: pointer;
  text-align: center;
  button{
    background: transparent;
    padding: 0;
    min-width: 35px;
    max-width: 35px;
  }
}

.mat-mdc-table{
  width: 100%;
  .table-header-title {
    margin-right: 20px;
  }
  background: transparent;
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator {
  background: transparent;
}
