<mat-tab-group >
  <mat-tab label="Inventory">
    <ng-template matTabContent>
      <inventory-list></inventory-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Purchase Voucher">
    <ng-template matTabContent>
      <purchase-vouchers></purchase-vouchers>
    </ng-template>
  </mat-tab>
  <!--  <mat-tab label="Products">-->
<!--  <ng-template matTabContent>-->
  <!--    <product-list></product-list>-->
<!--  </ng-template>-->
  <!--  </mat-tab>-->
  <mat-tab label="Memberships">
    <ng-template matTabContent>
      <membership-list></membership-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Suppliers">
    <ng-template matTabContent>
      <supplier-list></supplier-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Categories">
    <ng-template matTabContent>
      <category-list></category-list>
    </ng-template>
  </mat-tab>

</mat-tab-group>
