<mat-tab-group>
  <mat-tab label="Inventory">
<!--    <inventory-list></inventory-list>-->
  </mat-tab>
  <mat-tab label="Purchase Voucher">
<!--    <purchase-vouchers></purchase-vouchers>-->
  </mat-tab>
  <mat-tab label="Products">
    <product-list></product-list>
  </mat-tab>
  <mat-tab label="Memberships">
    <membership-list></membership-list>
  </mat-tab>
  <mat-tab label="Suppliers">
    <supplier-list></supplier-list>
  </mat-tab>
  <mat-tab label="Categories">
    <category-list></category-list>
  </mat-tab>

</mat-tab-group>
