h2 {
  margin-bottom: 15px;
  margin-top: 15px;
}


.member{
  margin-top: 30px;
}

.member-profile-save button {
  width: 56px;
  height: 56px;
  margin-left: 10px;
}

.member-profile-container {
  position: relative;

  h1 {
    font-size: 33px;
  }

  .member-photo {
    width: 220px;
    height: 220px;
    margin-right:75px;
    img {
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .status-gray {
    box-shadow: -2px 1px 25px 7px #25291cbf;
  }

  .status-red{
    box-shadow: -2px 1px 25px 7px rgba(252, 0, 0, 0.75);
  }

  .status-green{
    box-shadow: -2px 1px 25px 7px rgba(35, 170, 10, 0.75);
  }

  .status-yellow{
    box-shadow: -2px 1px 25px 7px rgba(243, 195, 86, 0.75);
  }

  .status-freeze {
    box-shadow: -2px 1px 25px 7px rgba(0, 117, 169, 0.6);
  }

  .member-info {
    .member-info-row {
      margin: 10px 0;
      .member-info-label {
        color: rgba(0,0,0,.54);
        margin-right: 10px;
        font-weight: bold;
      }
    }
  }
  .member-info-right-part {
    flex-grow: 1;
  }

  app-purchase-history {
    width: 100%;
  }
}

#sell-button {
  position: fixed;
  bottom: 20px;
}

