h2 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.member-profile-container {
  position: relative;
  .member-photo {
    margin-right: 20px;
  }

  .member-info {
    .member-info-row {
      margin: 10px 0;
      .member-info-label {
        color: rgba(0,0,0,.54);
        margin-right: 10px;
        font-weight: bold;
      }
    }
  }
  .member-info-right-part {
    width: 60%;
  }

  app-purchase-history {
    width: 100%;
  }
}

