<div *ngIf="form" fxLayout="column" fxFlex fxLayoutAlign="start"
     class="member-profile-container">
  <h1>Profile of {{form.value.firstName + " " + form.value.lastName}}</h1>

  <form [formGroup]="form" fxLayout="row" class="member">
    <div class="member-photo">
      <img (error)="avatarImg.src='/assets/member-not-found.png'" #avatarImg width="220" height="250" [src]="loadedMember.photoLink | memberPhotoLink"/>
    </div>
    <div class="member-info-right-part">
      <div fxLayout="row" class="member-info">
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="First name" matInput formControlName="firstName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Last name" matInput formControlName="lastName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Email" matInput formControlName="email"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Phone number" formControlName="phoneNumber"/>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Referal type" formControlName="referalType"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
            <textarea matInput placeholder="Notes" formControlName="notes">
            </textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">

        </div>

      </div>
    </div>
    <div class="member-profile-save" fxLayoutAlign="start end" *ngIf="form.touched">
      <button (click)="updateMember()" mat-mini-fab>
        <mat-icon>save</mat-icon>
      </button>
    </div>

  </form>
  <div fxLayoutAlign="start">
  <app-purchase-history [memberId]="loadedMember.id"></app-purchase-history>
</div>
</div>
