<div *ngIf="form" fxLayout="column" fxFlex fxLayoutAlign="start"
     class="member-profile-container">
  <h1>{{form.value.firstName + " " + form.value.lastName}}</h1>

  <form [formGroup]="form" fxLayout="row" class="member">
    <div class="member-photo">
      <img *ngIf="_activeMembership$ | async as activeMembership; else expiredMembership"
           [ngClass]="{'status-green': !activeMembership.isNearlyExpire && !activeMembership.isExpired ,
                       'status-yellow': activeMembership.isNearlyExpire,
                       'status-red': !activeMembership || activeMembership.isExpired,
                       'status-freeze': activeMembership.isFreezed}"
                        (error)="avatarImg.src='/assets/member-not-found.png'"
                        #avatarImg width="220" height="220" [src]="loadedMemberValue.photoLink | localImageLink"/>
      <ng-template #expiredMembership>
        <img class="status-red" (error)="avatarImg.src='/assets/member-not-found.png'" #avatarImg width="220" height="220" [src]="loadedMemberValue.photoLink | localImageLink"/>
      </ng-template>
    </div>
    <div class="member-info-right-part">
      <div fxLayout="row" class="member-info">
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="First name" matInput formControlName="firstName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Last name" matInput formControlName="lastName"/>
            </mat-form-field>
          </div>
          <div class="member-info-row">
            <mat-form-field>
              <input placeholder="Email" matInput formControlName="email"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Phone number" formControlName="phoneNumber"/>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">
          <div class="member-info-row">
            <mat-form-field>
              <input matInput placeholder="Referal type" formControlName="referalType"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" class="member-info-row">
            <mat-form-field>
            <textarea matInput placeholder="Notes" formControlName="notes">
            </textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33">
          <membership-status *ngIf="_activeMembership$ | async as activeMembership" [member]="loadedMemberValue" [activeMembership]="activeMembership"></membership-status>
        </div>
      </div>
    </div>
    <div class="member-profile-save" fxLayoutAlign="start end" *ngIf="form.touched">
      <button (click)="updateMember()" mat-mini-fab>
        <mat-icon>save</mat-icon>
      </button>
    </div>

  </form>
  <div fxLayoutAlign="start">
  <app-purchase-history (purchaseUpdated)="onNewPurchase($event)"  *ngIf="loadedMember$ | async as member"  [member]="member"></app-purchase-history>
</div>
</div>
