.product-crud-dialog {
  .product-form {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 400px 1fr;
    grid-template-columns: 400px 1fr;
  }

  .product-property-name {
    width: 100px;
    max-width: 100px;
    margin-right: 20px;

    mat-form-field {
      width: 100px;
    }
  }

  .product-property-field-type {
    margin-right: 20px;
  }

  .product-property-field-value {
    padding-right: 20px;
    mat-form-field {
      width: 100%;
    }
  }
}


.product-file-target {
  display: none;
}

.preview-container {
  margin-top: 15px;
}


.image-small-preview {
  object-fit: scale-down;
  margin-right: 10px;
}

.product-image-preview-container {
  margin-top: 15px;
  overflow-y: auto;
}
