<div class="product-crud-dialog">
  <div mat-dialog-title> {{ product.id == 0 ? 'New' : 'Edit' }} Product "{{formGroup.value.name}}"</div>
  <div mat-dialog-content>
    <form class="product-form" fxLayout="row" [formGroup]="formGroup">
      <div class="left-part">

      </div>
     <div fxLayout="column" class="right-part">
       <mat-form-field>
         <input placeholder="Enter product name" matInput formControlName="name">
       </mat-form-field>
       <mat-form-field>
         <mat-select placeholder="Select product category" (selectionChange)="updateSubcategories($event)">
           <mat-option [value]="category" *ngFor="let category of categories"> {{category.name}}</mat-option>
         </mat-select>
       </mat-form-field>
       <mat-form-field>
         <mat-select placeholder="Select subcategory" formControlName="subcategory">
           <mat-option [value]="subcategory" *ngFor="let subcategory of subcategories$ | async">{{subcategory.name}}</mat-option>
           <!--          <mat-option *ngFor="let prodsuct of produc"></mat-option>-->
         </mat-select>
       </mat-form-field>
       <ng-container formArrayName="tags">
         <ng-container>
           <mat-form-field>
             <mat-label>Tags</mat-label>
             <mat-chip-list #tagList aria-label="Field Value">
               <ng-container *ngFor="let _ of productTags.controls; let i=index">
                 <mat-chip
                   [selectable]="true"
                   [removable]="true"
                   (removed)="removeTag(i)">
                   {{productTags.controls[i].controls.value.value}}
                   <mat-icon matChipRemove>cancel</mat-icon>
                 </mat-chip>
               </ng-container>
               <input placeholder="New product tag..."
                      #fieldValueElRef
                      [matChipInputFor]="tagList"
                      [matChipInputSeparatorKeyCodes]="[13]"
                      (matChipInputTokenEnd)="addTag($event, fieldValueElRef)">
             </mat-chip-list>
           </mat-form-field>
         </ng-container>
       </ng-container>
       <ng-container formArrayName="fields">
         <ng-container *ngFor="let _ of productFields.controls; let i=index">
           <div fxLayoutAlign="row" [formGroupName]="i">
             <div class="product-property-name">
               <mat-form-field>
                 <input placeholder="Field name" matInput formControlName="name">
               </mat-form-field>
             </div>

             <!-- Product Fields -->
             <mat-form-field>
               <mat-label>Field value</mat-label>
               <mat-chip-list formArrayName="options" #chipList aria-label="Field Value">
                 <mat-chip
                   *ngFor="let productField of productFields.controls[i].controls.options.value; let propertyValueIndex=index"
                   [selectable]="true"
                   [removable]="true"
                   (removed)="removeField(productFields.controls[i].controls.options, propertyValueIndex)">
                   {{productField.value}}
                   <mat-icon matChipRemove>cancel</mat-icon>
                 </mat-chip>
                 <input placeholder="New field value..."
                        #fieldValueElRef
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="[32, 13]"
                        (matChipInputTokenEnd)="addField(productFields.controls[i].controls.options, $event, fieldValueElRef)">
               </mat-chip-list>
             </mat-form-field>
           </div>
         </ng-container>
       </ng-container>
       <div (click)="addProductPropertyType()" fxLayoutAlign="start center">Add new field
         <mat-icon>add</mat-icon>
       </div>
     </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close="">Save</button>
  </div>
</div>
