<mat-dialog-content *ngIf="membershipGroupFormGroup">
  <mat-vertical-stepper #stepper [linear]="true">
    <mat-step [stepControl]="membershipGroupFormGroup">
      <form [formGroup]="membershipGroupFormGroup">
        <ng-template matStepLabel>Select package</ng-template>
        <mat-form-field>
          <mat-select formControlName="membershipGroup" [value]="selectedMembershipGroup"
                      (selectionChange)="afterServiceFormGroupSelection($event.value)">
            <mat-option [value]="primalService"
                        *ngFor="let primalService of allMembershipGroups">
              {{primalService.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button [disabled]="!membershipGroupFormGroup.valid" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="membershipFormGroup">
      <form [formGroup]="membershipFormGroup">
        <ng-template matStepLabel>Select Membership</ng-template>
        <mat-form-field>
          <mat-select formControlName="membership" [value]="selectedMembership"
                      (selectionChange)="afterMembershipFormGroupSelection($event.value)">
            <mat-option [value]="membership" *ngFor="let membership of memberships$ | async">
              {{membership.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button [disabled]="!membershipFormGroup.valid" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="salePriceFormGroup">
      <form [formGroup]="salePriceFormGroup">
        <ng-template matStepLabel>Sale Price</ng-template>
        <mat-form-field>
          <mat-label>Input a price</mat-label>
          <input maxlength="8" type="number" formControlName="price" matInput>
        </mat-form-field>
        <div>
          <mat-form-field>
            <mat-label>Discount (value in %):</mat-label>
            <input type="number" [max]="100" [min]="0" matInput formControlName="discount">
          </mat-form-field>
        </div>
        <div class="color-green">Total price with
          discount: {{ salePriceFormGroup.value.price|discount:salePriceFormGroup.value.discount}}</div>
          <div class="color-green" *ngFor="let tax of taxes">
            Tax {{tax.name}}: {{salePriceFormGroup.value.price|discount:salePriceFormGroup.value.discount|tax:tax}}
          </div>
          <div>
            <button [disabled]="salePriceFormGroup.invalid" mat-button matStepperNext>Next</button>
          </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="paymentFormGroup">
      <form [formGroup]="paymentFormGroup">

        <ng-template matStepLabel>Payment</ng-template>

        <payments [totalToPay]="salePriceFormGroup.value.price|totalPrice:1:salePriceFormGroup.value.discount:taxes"
                  [styleWidth]="170" (paymentsChanged)="patchPayments($event)" [payments]="payments"></payments>
        <div>
          <button [disabled]="paymentFormGroup.invalid" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="noteFormGroup">
      <form [formGroup]="noteFormGroup">
        <ng-template matStepLabel>Note</ng-template>
        <mat-form-field>
          <mat-label>Input a note</mat-label>
          <textarea [maxLength]="500" formControlName="note" matInput></textarea>
          <mat-error *ngIf="noteFormGroup.errors?.note?.maxLength">Max note size is 500 characters</mat-error>
        </mat-form-field>
        <div>
          <button [disabled]="noteFormGroup.invalid" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="startDateFormGroup">
      <form [formGroup]="startDateFormGroup">
        <ng-template matStepLabel>Select Membership Start Date</ng-template>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input formControlName="startDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div class="summary">
        <div class="form-row">
          <div class="form-label">Selected Package:</div>
          <div class="form-value">{{selectedMembershipGroup.name}}</div>
        </div>
        <div class="form-row">
          <div class="form-label">Selected Package Item:</div>
          <div
            class="form-value">{{selectedMembership.name + " " + (salePriceFormGroup.value.price | currency: 'AED')}}</div>
        </div>

        <div class="form-row">
          <div class="form-label">Expiration Date:</div>
          <div
            class="form-value">{{selectedMembership | membershipExpiration:startDateFormGroup.value.startDate}}</div>
        </div>
        <div class="form-row">
          <div class="form-label">Subtotal:</div>
          <div class="form-value">{{ this.salePriceFormGroup.value.price|totalPrice:1:salePriceFormGroup.value.discount | currency:'AED' }}</div>
        </div>
        <div *ngFor="let tax of taxes" class="form-row">
          <div class="form-label">Tax {{tax.name}}:</div>
          <div class="form-value">{{ this.salePriceFormGroup.value.price|totalPrice:1:null:  tax | currency:'AED'}}</div>
        </div>
        <div class="form-row">
          <div class="form-label">Total:</div>
          <div class="form-value">{{this.salePriceFormGroup.value.price|totalPrice:1: salePriceFormGroup.value.discount:taxes| currency: 'AED'}}</div>
        </div>
        <mat-divider></mat-divider>
        <ng-container *ngIf="payments.length > 0">
          <div class="form-row">
            <div class="form-label">Payments</div>
          </div>

          <div fxLayout="column" *ngFor="let payment of payments" class="form-row">
            <!--            {{paymentFormGroup.value.payments | json}}-->
            <div fxLayout="row">
              <div class="form-label">Method:</div>
              <div class="form-value">{{payment | paymentName: payment.paymentMethodId}}</div>
              <div class="form-label">&nbsp; Amount:</div>
              <div class="form-value">{{payment.amount | currency: 'AED'}}</div>
            </div>
          </div>

        </ng-container>
      </div>
      <div>
        <button (click)="submitPurchase()" mat-button>Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>
